<script>
	import "nano-analytics";
	import "nano-insights";
	import { track } from "nano-custom";
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>

	<nano-analytics
		projectKey="mcw2ugsj162ft"
	/>
	
	<nano-insights
		projectKey="mcw2ugsj162ft"
	/>

	<nano-custom
		projectKey="mcw2ugsj162ft"
	/>
</html>

<style>
	html,
	body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: #1a1a1a;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
	}
</style>
